body {
  background-color: darkorchid;
}

.App {
  text-align: center;
}

.moviesButton {
  background-color: darkorchid;
  font-size: 24px;
  font-weight: bold;
  margin-top: auto;
  margin-bottom: 2%;
}

/* Formatting for objects in the Movies View */
.movivesGrid {
  display: inline-flex;
  flex-wrap: wrap;
}
.movieContainer {
  background-color: rgba(104, 203, 228, 0.6);
  display: inline-flex;
  border: 5px solid black;
  border-radius: 10px;
  margin: 1%;
  max-width: 400px;
  max-height: 320px;
}

.cardPoster {
  margin: 2%;
  width: 200px;
  height: 300px;
  border: 2px solid black;
}

.movieTextBlock {
  display: block;
  margin: 2% 1%;
  text-align: left;
  height: 300px;
  width: 300px;
  overflow: hidden;
}

.cardHeader {
  border-bottom: 5px dotted black;
  margin-top: 1%;
  padding-bottom: 1%;
  text-align: center;
  /* margin: 0%;
  padding: 0%; */
}

.movieDescription, p {
  display: block;
  font-size: 16px;
  margin: 0%;
  height: auto;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Formatting for the objects in the details view */

.detailsContainer {
  display: flex;
  
}

.detailsPoster {
  margin: 2%;
  min-width: 400px;
  height: 600px;
  border: 5px solid black;
}

.detailsTextBlock {
  height: 600px;
  margin: 2%;
  text-align: left;
}

.detailsHeader {
  margin-bottom: 1%;
}

.detailsDescription {
  font-size: 20px;
}

.detailsTags {
  margin: 2% 0%;
}

/* Formatting for the form to add a movie */
.inputTable {
  margin: 0% auto;
}

.descriptionInput {
  min-width: 500px;

}