body {
  background-color: darkorchid;
}

.App {
  text-align: center;
}

.movieContainer {
  background-color: rgba(104, 203, 228, 0.6);
  display: flex;
  border: 5px solid black;
  border-radius: 25px;
  margin: 2.5%;
  padding: 1%;
}

.cardPoster {
  margin: auto;
  width: 200px;
  height: 300px;
}

.movieTextBlock {
  margin-left: 1%;
  text-align: left;
}

h2 {
  border-bottom: 5px dotted black;
  margin-top: 0%;
  padding: 1% 0%;
}


